<a href="https://colab.research.google.com/github/ayushinag237-droid/econ_stuff/blob/main/pmkisan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset for this project has been taken from the OGD platform : https://www.data.gov.in/resource/stateut-wise-details-beneficiaries-benefited-and-amount-released-under-pradhan-mantri

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving pmkisan_statewise.csv to pmkisan_statewise (1).csv

In [ ]:
import pandas as pd
r1= pd.read_csv("pmkisan_statewise.csv")
r1.head()

,Sl. No.,State/UT,5th Instalment (April 2020 - July 2020) - Number of Beneficiaries,5th Instalment (April 2020 - July 2020) - Amount Disbursed (Rs. in Crore),6th Instalment (August 2020 - Nov 2020) - Number of Beneficiaries,6th Instalment (August 2020 - Nov 2020) - Amount Disbursed (Rs. in Crore),7th Instalment (Dec 2020 - March 2021) - Number of Beneficiaries,7th Instalment (Dec 2020 - March 2021) - Amount Disbursed (Rs. in Crore),8th Instalment (April 2021 - July 2021) - Number of Beneficiaries,8th Instalment (April 2021 - July 2021) - Amount Disbursed (Rs. in Crore),...,15th Instalment (August 2023 - November 2023) - Number of Beneficiaries,15th Instalment (August 2023 - November 2023) - Amount Disbursed (Rs. in Crore),16th Instalment (Dec 2023 - March 2024) - Number of Beneficiaries,16th Instalment (Dec 2023 - March 2024) - Amount Disbursed (Rs. in Crore),17th Instalment (April 2024 - July 2024) - Number of Beneficiaries,17th Instalment (April 2024 - July 2024) - Amount Disbursed (Rs. in Crore),18th Instalment (Aug 2024 - Nov 2024) - Number of Beneficiaries,18th Instalment (Aug 2024 - Nov 2024) - Amount Disbursed (Rs. in Crore),19th Instalment (Dec 2024-March 2025) - Number of Beneficiaries,19th Instalment (Dec 2024-March 2025) - Amount Disbursed (Rs. in Crore)
0,1,Andaman and Nicobar Islands,15971.0,3.26,16254.0,3.25,16109.0,3.22,16086,3.34,...,3620,0.93,12289,4.90,12546,2.80,12832.0,2.80,12987.0,2.78
1,2,Andhra Pradesh,4757732.0,995.23,4690575.0,953.22,4536383.0,916.68,4463029,1037.32,...,3956937,893.30,4076365,924.04,4140573,875.56,4122499.0,836.36,4127619.0,854.28
2,3,Arunachal Pradesh,89275.0,19.01,90143.0,18.35,91858.0,19.41,91869,18.95,...,54805,12.88,80100,18.94,67613,18.55,90470.0,25.60,94948.0,22.63
3,4,Assam,1896670.0,380.23,1247617.0,249.52,1393366.0,321.13,1292543,305.61,...,1215892,487.61,1631142,589.48,1814323,425.92,1887572.0,403.52,2087406.0,475.09
4,5,Bihar,6955360.0,1466.06,7538397.0,1574.11,7680555.0,1561.21,7924949,1645.21,...,7223746,1605.95,7565165,1705.67,7655844,1598.94,7581016.0,1544.52,7590575.0,1592.77

In [ ]:
r1.columns
r1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 32 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   sl. no.                                                                          37 non-null     object
 1   state/ut                                                                         37 non-null     object
 2   5th instalment (april 2020 - july 2020) - number of beneficiaries                36 non-null     float64
 3   5th instalment (april 2020 - july 2020) - amount disbursed (rs. in crore)        36 non-null     float64
 4   6th instalment (august 2020 - nov 2020) - number of beneficiaries                36 non-null     float64
 5   6th instalment (august 2020 - nov 2020) - amount disbursed (rs. in crore)        36 non-null     float64
 6   7th instalment (dec 2020 - march 2021) - number of beneficiaries                 36 non-null     float64
 7   7th instalment (dec 2020 - march 2021) - amount disbursed (rs. in crore)         36 non-null     float64
 8   8th instalment (april 2021 - july 2021) - number of beneficiaries                37 non-null     int64
 9   8th instalment (april 2021 - july 2021) - amount disbursed (rs. in crore)        37 non-null     float64
 10  9th instalment (august 2021 - nov 2021) - number of beneficiaries                37 non-null     int64
 11  9th instalment (august 2021 - nov 2021) - amount disbursed (rs. in crore)        37 non-null     float64
 12  10th instalment (dec 2021 - march 2022) - number of beneficiaries                36 non-null     float64
 13  10th instalment (dec 2021 - march 2022) - amount disbursed (rs. in crore)        36 non-null     float64
 14  11th instalment (april 2022 - july 2022) - number of beneficiaries               36 non-null     float64
 15  11th instalment (april 2022 - july 2022) - amount disbursed (rs. in crore)       36 non-null     float64
 16  12th instalment (august 2022 - nov 2022) - number of beneficiaries               37 non-null     int64
 17  12th instalment (august 2022 - nov 2022) - amount disbursed (rs. in crore)       37 non-null     float64
 18  13th instalment (dec 2022 - march 2023) - number of beneficiaries                36 non-null     float64
 19  13th instalment (dec 2022 - march 2023) - amount disbursed (rs. in crore)        36 non-null     float64
 20  14th instalment (april 2023 - july 2023) - number of beneficiaries               37 non-null     int64
 21  14th instalment (april 2023 - july 2023) - amount disbursed (rs. in crore)       37 non-null     float64
 22  15th instalment (august 2023 - november 2023) - number of beneficiaries          37 non-null     int64
 23  15th instalment (august 2023 - november 2023) - amount disbursed (rs. in crore)  37 non-null     float64
 24  16th instalment (dec 2023 - march 2024) - number of beneficiaries                37 non-null     int64
 25  16th instalment (dec 2023 - march 2024) - amount disbursed (rs. in crore)        37 non-null     float64
 26  17th instalment (april 2024 - july 2024) - number of beneficiaries               37 non-null     int64
 27  17th instalment (april 2024 - july 2024) - amount disbursed (rs. in crore)       37 non-null     float64
 28  18th instalment (aug 2024 - nov 2024) - number of beneficiaries                  36 non-null     float64
 29  18th instalment (aug 2024 - nov 2024) - amount disbursed (rs. in crore)          36 non-null     float64
 30  19th instalment (dec 2024-march 2025) - number of beneficiaries                  36 non-null     float64
 31  19th instalment (dec 2024-march 2025) - amount disbursed (rs. in crore)          36 non-null     float64
dtypes: float64(23), int64(7), object(2)
memory usage: 9.4+ KB

Cleaning & Standardizing the dataset

In [ ]:
for col in r1.columns:
    print(repr(col))

'sl. no.'
'state/ut'
'5th instalment (april 2020 - july 2020) - number of beneficiaries'
'5th instalment (april 2020 - july 2020) - amount disbursed (rs. in crore)'
'6th instalment (august 2020 - nov 2020) - number of beneficiaries'
'6th instalment (august 2020 - nov 2020) - amount disbursed (rs. in crore)'
'7th instalment (dec 2020 - march 2021) - number of beneficiaries'
'7th instalment (dec 2020 - march 2021) - amount disbursed (rs. in crore)'
'8th instalment (april 2021 - july 2021) - number of beneficiaries'
'8th instalment (april 2021 - july 2021) - amount disbursed (rs. in crore)'
'9th instalment (august 2021 - nov 2021) - number of beneficiaries'
'9th instalment (august 2021 - nov 2021) - amount disbursed (rs. in crore)'
'10th instalment (dec 2021 - march 2022) - number of beneficiaries'
'10th instalment (dec 2021 - march 2022) - amount disbursed (rs. in crore)'
'11th instalment (april 2022 - july 2022) - number of beneficiaries'
'11th instalment (april 2022 - july 2022) - amount disbursed (rs. in crore)'
'12th instalment (august 2022 - nov 2022) - number of beneficiaries'
'12th instalment (august 2022 - nov 2022) - amount disbursed (rs. in crore)'
'13th instalment (dec 2022 - march 2023) - number of beneficiaries'
'13th instalment (dec 2022 - march 2023) - amount disbursed (rs. in crore)'
'14th instalment (april 2023 - july 2023) - number of beneficiaries'
'14th instalment (april 2023 - july 2023) - amount disbursed (rs. in crore)'
'15th instalment (august 2023 - november 2023) - number of beneficiaries'
'15th instalment (august 2023 - november 2023) - amount disbursed (rs. in crore)'
'16th instalment (dec 2023 - march 2024) - number of beneficiaries'
'16th instalment (dec 2023 - march 2024) - amount disbursed (rs. in crore)'
'17th instalment (april 2024 - july 2024) - number of beneficiaries'
'17th instalment (april 2024 - july 2024) - amount disbursed (rs. in crore)'
'18th instalment (aug 2024 - nov 2024) - number of beneficiaries'
'18th instalment (aug 2024 - nov 2024) - amount disbursed (rs. in crore)'
'19th instalment (dec 2024-march 2025) - number of beneficiaries'
'19th instalment (dec 2024-march 2025) - amount disbursed (rs. in crore)'

In [ ]:
r1.columns = (
    r1.columns
      .str.strip()
      .str.lower()
      .str.replace('\n', ' ', regex=False)
)
r1.columns

Index(['sl. no.', 'state/ut',
       '5th instalment (april 2020 - july 2020) - number of beneficiaries',
       '5th instalment (april 2020 - july 2020) - amount disbursed (rs. in crore)',
       '6th instalment (august 2020 - nov 2020) - number of beneficiaries',
       '6th instalment (august 2020 - nov 2020) - amount disbursed (rs. in crore)',
       '7th instalment (dec 2020 - march 2021) - number of beneficiaries',
       '7th instalment (dec 2020 - march 2021) - amount disbursed (rs. in crore)',
       '8th instalment (april 2021 - july 2021) - number of beneficiaries',
       '8th instalment (april 2021 - july 2021) - amount disbursed (rs. in crore)',
       '9th instalment (august 2021 - nov 2021) - number of beneficiaries',
       '9th instalment (august 2021 - nov 2021) - amount disbursed (rs. in crore)',
       '10th instalment (dec 2021 - march 2022) - number of beneficiaries',
       '10th instalment (dec 2021 - march 2022) - amount disbursed (rs. in crore)',
       '11th instalment (april 2022 - july 2022) - number of beneficiaries',
       '11th instalment (april 2022 - july 2022) - amount disbursed (rs. in crore)',
       '12th instalment (august 2022 - nov 2022) - number of beneficiaries',
       '12th instalment (august 2022 - nov 2022) - amount disbursed (rs. in crore)',
       '13th instalment (dec 2022 - march 2023) - number of beneficiaries',
       '13th instalment (dec 2022 - march 2023) - amount disbursed (rs. in crore)',
       '14th instalment (april 2023 - july 2023) - number of beneficiaries',
       '14th instalment (april 2023 - july 2023) - amount disbursed (rs. in crore)',
       '15th instalment (august 2023 - november 2023) - number of beneficiaries',
       '15th instalment (august 2023 - november 2023) - amount disbursed (rs. in crore)',
       '16th instalment (dec 2023 - march 2024) - number of beneficiaries',
       '16th instalment (dec 2023 - march 2024) - amount disbursed (rs. in crore)',
       '17th instalment (april 2024 - july 2024) - number of beneficiaries',
       '17th instalment (april 2024 - july 2024) - amount disbursed (rs. in crore)',
       '18th instalment (aug 2024 - nov 2024) - number of beneficiaries',
       '18th instalment (aug 2024 - nov 2024) - amount disbursed (rs. in crore)',
       '19th instalment (dec 2024-march 2025) - number of beneficiaries',
       '19th instalment (dec 2024-march 2025) - amount disbursed (rs. in crore)'],
      dtype='object')

Checking for duplicates

In [ ]:
r1['state/ut'].value_counts()

state/ut
Andaman and Nicobar Islands                 1
Andhra Pradesh                              1
Arunachal Pradesh                           1
Assam                                       1
Bihar                                       1
Chandigarh                                  1
Chhattisgarh                                1
Delhi                                       1
Goa                                         1
Gujarat                                     1
Haryana                                     1
Himachal Pradesh                            1
Jammu and Kashmir                           1
Jharkhand                                   1
Karnataka                                   1
Kerala                                      1
Ladakh                                      1
Lakshadweep                                 1
Madhya Pradesh                              1
Maharashtra                                 1
Manipur                                     1
Meghalaya                                   1
Mizoram                                     1
Nagaland                                    1
Odisha                                      1
Puducherry                                  1
Punjab                                      1
Rajasthan                                   1
Sikkim                                      1
Tamil Nadu                                  1
Telangana                                   1
Dadra and Nagar Haveli and Daman and Diu    1
Tripura                                     1
Uttar Pradesh                               1
Uttarakhand                                 1
West Bengal                                 1
Grand Total                                 1
Name: count, dtype: int64

In [ ]:
r1.head(3)

,sl. no.,state/ut,5th instalment (april 2020 - july 2020) - number of beneficiaries,5th instalment (april 2020 - july 2020) - amount disbursed (rs. in crore),6th instalment (august 2020 - nov 2020) - number of beneficiaries,6th instalment (august 2020 - nov 2020) - amount disbursed (rs. in crore),7th instalment (dec 2020 - march 2021) - number of beneficiaries,7th instalment (dec 2020 - march 2021) - amount disbursed (rs. in crore),8th instalment (april 2021 - july 2021) - number of beneficiaries,8th instalment (april 2021 - july 2021) - amount disbursed (rs. in crore),...,15th instalment (august 2023 - november 2023) - number of beneficiaries,15th instalment (august 2023 - november 2023) - amount disbursed (rs. in crore),16th instalment (dec 2023 - march 2024) - number of beneficiaries,16th instalment (dec 2023 - march 2024) - amount disbursed (rs. in crore),17th instalment (april 2024 - july 2024) - number of beneficiaries,17th instalment (april 2024 - july 2024) - amount disbursed (rs. in crore),18th instalment (aug 2024 - nov 2024) - number of beneficiaries,18th instalment (aug 2024 - nov 2024) - amount disbursed (rs. in crore),19th instalment (dec 2024-march 2025) - number of beneficiaries,19th instalment (dec 2024-march 2025) - amount disbursed (rs. in crore)
0,1,Andaman and Nicobar Islands,15971.0,3.26,16254.0,3.25,16109.0,3.22,16086,3.34,...,3620,0.93,12289,4.90,12546,2.80,12832.0,2.80,12987.0,2.78
1,2,Andhra Pradesh,4757732.0,995.23,4690575.0,953.22,4536383.0,916.68,4463029,1037.32,...,3956937,893.30,4076365,924.04,4140573,875.56,4122499.0,836.36,4127619.0,854.28
2,3,Arunachal Pradesh,89275.0,19.01,90143.0,18.35,91858.0,19.41,91869,18.95,...,54805,12.88,80100,18.94,67613,18.55,90470.0,25.60,94948.0,22.63

Here , we inspect into the dataset, gather information on the order of columns , presence of data in them and which columns correspond to State names, beneficiaries and disbusement amounts

In [ ]:
for i, col in enumerate(r1.columns):
    print(i, col)

0 sl. no.
1 state/ut
2 5th instalment (april 2020 - july 2020) - number of beneficiaries
3 5th instalment (april 2020 - july 2020) - amount disbursed (rs. in crore)
4 6th instalment (august 2020 - nov 2020) - number of beneficiaries
5 6th instalment (august 2020 - nov 2020) - amount disbursed (rs. in crore)
6 7th instalment (dec 2020 - march 2021) - number of beneficiaries
7 7th instalment (dec 2020 - march 2021) - amount disbursed (rs. in crore)
8 8th instalment (april 2021 - july 2021) - number of beneficiaries
9 8th instalment (april 2021 - july 2021) - amount disbursed (rs. in crore)
10 9th instalment (august 2021 - nov 2021) - number of beneficiaries
11 9th instalment (august 2021 - nov 2021) - amount disbursed (rs. in crore)
12 10th instalment (dec 2021 - march 2022) - number of beneficiaries
13 10th instalment (dec 2021 - march 2022) - amount disbursed (rs. in crore)
14 11th instalment (april 2022 - july 2022) - number of beneficiaries
15 11th instalment (april 2022 - july 2022) - amount disbursed (rs. in crore)
16 12th instalment (august 2022 - nov 2022) - number of beneficiaries
17 12th instalment (august 2022 - nov 2022) - amount disbursed (rs. in crore)
18 13th instalment (dec 2022 - march 2023) - number of beneficiaries
19 13th instalment (dec 2022 - march 2023) - amount disbursed (rs. in crore)
20 14th instalment (april 2023 - july 2023) - number of beneficiaries
21 14th instalment (april 2023 - july 2023) - amount disbursed (rs. in crore)
22 15th instalment (august 2023 - november 2023) - number of beneficiaries
23 15th instalment (august 2023 - november 2023) - amount disbursed (rs. in crore)
24 16th instalment (dec 2023 - march 2024) - number of beneficiaries
25 16th instalment (dec 2023 - march 2024) - amount disbursed (rs. in crore)
26 17th instalment (april 2024 - july 2024) - number of beneficiaries
27 17th instalment (april 2024 - july 2024) - amount disbursed (rs. in crore)
28 18th instalment (aug 2024 - nov 2024) - number of beneficiaries
29 18th instalment (aug 2024 - nov 2024) - amount disbursed (rs. in crore)
30 19th instalment (dec 2024-march 2025) - number of beneficiaries
31 19th instalment (dec 2024-march 2025) - amount disbursed (rs. in crore)

To ensure robustness, we identify relevant variables by their position in the dataset after inspection.

1. state_clean stores standardized state names

2. beneficiaries captures the number of PM-KISAN beneficiaries

3. amount_released captures total PM-KISAN disbursement (â‚¹ crore)

Numeric fields are converted from text to numeric format after removing commas.

In [ ]:
r1['state/ut'] = r1.iloc[:, 1].astype(str).str.strip().str.lower()

r1['beneficiaries'] = (
    r1.iloc[:, 2]
    .astype(str)
    .str.replace(',', '', regex=False)
    .astype(float)
)

r1['amount_released'] = (
    r1.iloc[:, 3]
    .astype(str)
    .str.replace(',', '', regex=False)
    .astype(float)
)

Verifying cleaned variables

In [ ]:
r1[['state/ut', 'beneficiaries', 'amount_released']].head()

                      state/ut  beneficiaries  amount_released
0  andaman and nicobar islands        15971.0             3.26
1               andhra pradesh      4757732.0           995.23
2            arunachal pradesh        89275.0            19.01
3                        assam      1896670.0           380.23
4                        bihar      6955360.0          1466.06

Aggregating beneficiary counts and disbursement amounts across all rows belonging to the same state

In [ ]:
state_r1 = (
    r1.groupby('state/ut')
      .agg(
          total_beneficiaries=('beneficiaries', 'sum'),
          total_amount=('amount_released', 'sum')
      )
      .reset_index()
)
## final state metric
state_r1['amount_per_beneficiary'] = ( state_r1['total_amount'] / state_r1['total_beneficiaries'])

creating & loading a new agric. census 2015-16 csv

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving avgsize_holding_1516.csv to avgsize_holding_1516 (1).csv

In [ ]:
import pandas as pd

ag_raw = pd.read_csv("avgsize_holding_1516.csv")

ag_raw.head()

,SI No.,State/UTs,Individual Holdings,Joint Holdings,Sub Total(Ind.+Joint),Institutional Holdings,Total Holdings
0,(1),(2),(3),(4),(5),(6),(7)
1,1,A & N ISLANDS,1.40,2.45,1.69,5.62,1.78
2,2,ANDHRA PRADESH,0.93,1.49,0.93,10.34,0.94
3,3,ARUNACHAL\rPRADESH,3.41,0.00,3.41,1.26,3.35
4,4,ASSAM,0.99,2.34,0.99,52.24,1.09

In [ ]:
ag_raw.columns

Index(['SI No.', 'State/UTs', 'Individual Holdings', 'Joint Holdings',
       'Sub Total(Ind.+Joint)', 'Institutional Holdings', 'Total Holdings'],
      dtype='object')

In [ ]:
import pandas as pd

ag = pd.read_csv("avgsize_holding_1516.csv")
ag['state_clean'] = ag['State/UTs'].str.strip().str.lower()

In [ ]:
ag['state_clean'] = (
    ag['State/UTs']
    .str.strip()
    .str.lower()
)

In [ ]:
merged = state_r1.merge(
    ag,
    on='state_clean',
    how='inner'
)

KeyError: 'state_clean'